{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}



{% block main %}

<div class="pb-5"><iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Pacific%2FAuckland&amp;src=Y2FsbGlvcGVAZ3JvdXAuc2NvdXRzLm56&amp;color=%23FFFFE0&amp;showTitle=1&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showDate=1&amp;showNav=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>

<div class="grey in_between_content justify-content-center">
    <h1>Term times</h1>
    
    <div class="text-start d-inline-flex">
        <ul>
            <li>Term 1: Mon 2 February - Fri 16 April</li>
            <li>Term 2: Mon 3 May - Fri 9 July</li>
            <li>Term 3: Mon 26 July - Fri 1 October</li>
            <li>Term 4: Mon 18 October - Tues 14 December</li>
        </ul>
    </div>
</div>


<img src="/static/images/centennialHeader.PNG" alt="Header for Calliope's Centennial event">


<div class="justify-content-center text-start">
    <div class="middle_30">
        <div class="in_between_content">
            <h2>Friday 25th June 2021</h2>
            <ul class="">
                <li>Mix ‘n’ Mingle at the “Ship” (1700)</li>
                <li>Guest Speaker</li>
                <li>Finger Food - Provided by the Calliope Cubs</li>
            Historical Display
            </ul>
        </div>
        
        <div class="in_between_content">
            <h2>Saturday 26th June 2021</h2>
            <ul class="">
                <li>Regatta Skippers Brief - Narrow Neck Beach</li>
                <li>Centennial Regatta held at Narrow Neck Beach (Cutters only)</li>
                <li>BBQ at the “Ship” - Provided by the Calliope Scouts</li>
                <li>Historical Display</li>
            </ul>
        </div>
        
        <div class="in_between_content">
            <h2>Sunday 27th June 2021</h2>
            <ul class="">
                <li>Historical Display</li>
                <li>Flag Down</li>
                <li>Centennial Celebrations Conclude (1600)</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}