{% extends "layout.html" %}

{% block title %}
    Hall hire
{% endblock %}



{% block main %}

<div class="container_60">
    <h1>'The Ship'</h1>
    
    <img src="/static/images/Ship.png" alt="Image of 'The ship'" class="image center">
</div>

<div class="in_between_content">
    <iframe src="https://calendar.google.com/calendar/embed?src=d946rivqicpfua6uloplcg5a8o%40group.calendar.google.com&ctz=Pacific%2FAuckland" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>


<div class="grey">
    <div class="container_60 in_between_content">
        <h1>About 'The Ship'</h1>
    
        <p>'The Ship' is a great venue for functions up to 50 people. It has one of the best views on the inner Waitemata Harbour, and adjacent to beautiful Duders Beach.</p>
        <p>The Ship has facilities that fully cater for the disabled.</p>
        <p>Its modern galley and flexible interior make it easy to adapt to every type of function. It is a self-catering venue, so those functions can be very cost-effective. It is equipped with tables and chairs to seat 40 people.</p>
    
        <div class="row row-cols-4 g-2">
        <img src="/static/images/Restore01.JPG" alt="" class="col">
        <img src="/static/images/Restore02.JPG" alt="" class="col">
        <img src="/static/images/Restore03.JPG" alt="" class="col">
        <img src="/static/images/Restore04.JPG" alt="" class="col">
        <img src="/static/images/Restore05.JPG" alt="" class="col">
        <img src="/static/images/Restore06.JPG" alt="" class="col">
        <img src="/static/images/Restore07.JPG" alt="" class="col">
        <img src="/static/images/Restore08.JPG" alt="" class="col">
        <img src="/static/images/Restore09.JPG" alt="" class="col">
        <img src="/static/images/Restore10.JPG" alt="" class="col">
        </div>
    </div>
</div>

<div class="in_between_content">
    <h1>SHIP OPERATING INSTRUCTIONS</h1>
    
    <p>Welcome to the Ship. Below are a few simple instructions to assist you in ensuring that your</p>
    
    <div class="container_60 text-start">
        <div class="content_within">
            <h3 class="noBottom">Security</h3>
            <p>On departure it is important to ensure that the Ship is Secure, and all Lights and Other
            Appliances are Switched OFF at the Wall, and the Doors and Windows are Secured.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Smoke Alarm</h3>
            <p>The Ship is fitted with a Smoke Alarm (unmonitored). In the event of its activation for a Fire.
            Leave the Ship immediately and gather alongside the Watson Clock to the East of the ship. If it is activated
            accidentally, the Key to Silence the Alarm is Inside the Switchboard Cover (Lift it Up) and is on
            the Pink Tag. Insert the appropriate Key into the Upper Right Keyhole of the Alarm Panel
            (Adjacent to Switchboard) and Turn Clockwise. Remove the Key and return, then Contact Chris
            Leech on 0212544067.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Chairs and Tables</h3>
            <p>The Chairs are located in the locker at the top of the landing, and the key is the same as that for
            the front door. The tables are stacked adjacent to the toilets</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Stove & Cook Top</h3>
            <p>The Main Switch is by the Window. The Cooktop is Touch Sensitive Activated and Dry Hands
            are a Must. The Instruction Booklet (If required) is in the Third Drawer Down.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Facilities for the Disabled</h3>
            <p>The Ship is equipped with Full Facilities for the Disabled, including Toilet and Shower.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Brooms and Mops</h3>
            <p>There are Two Wide Brooms for the Floor by the Galley, and a Wet Mop and Bucket are in the
            Disabled Toilet. The Ship is to be left in a Clean & Tidy condition before it is vacated.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Boat Shed & Wardroom</h3>
            <p>The Boat Shed (Lower Level) & Wardroom are out of Bounds,</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Hours & Noise</h3>
            <p>All Functions at The Ship are to conclude promptly at 2400hrs, and the Ship is to be vacated no
            later than 0030hrs. All noise in relation to any function is to cease at 2345hrs.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Rubbish</h3>
            <p>All Rubbish and Recyclables are to be removed on the completion of the function.</p>
        </div>
    
        <div class="content_within">
            <h3 class="noBottom">Yoga Equipment</h3>
            <p>All Yoga equipment is not to be interfered with. If it needs to be moved for convenience, it is to
            be returned to its original position at the conclusion of the activity.</p>
        </div>
    </div>
</div>

<section class="portfolio-experiment">
    <a>
      <h1><span class="text">Contact us now</span></h1>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
</section>
{% endblock %}