{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}



{% block main %}

<div class="container text-start">
    <h1>History</h1>
    <p>
        The Calliope Sea Scout Group was founded on the 25th June 1921 by Capt R Woods who was the first scout leader.
        The group's name comes from the famous British Warship HMS Calliope which was the only ship to outrun a tropical
        cyclone in Apia harbour (see link below). The building we use as "The Ship" was erected in 1903 for the North Shore
        Rowing Club and became "The Ship" in 19667, before this, the Group was run within the Naval Dockyard. In Dec 1922,
        The Admiral of the Fleet; Lord Jellicoe visited "The Ship" and signed the logbook. Since then, the Group has attended
        numerous Jamboree's and Regattas, including in 1997 where we were awarded the Trophy for the most improved group. The
        ship is decorated with all the pendants and flags from regattas thereafter. The group's cutter is named Jellicoe in
        remembrance of Lord Jellicoe, we continue to maintain our connection with the Royal New Zealand Navy and are proud to
        be the oldest Sea Scout Group in New Zealand, and as such are entitled to wear the plain Black Scarf in recognition of this.
        <br>
        So, into the future, we stride with confidence and strength with the boys and girls, parents, leaders, committee and an ever-supportive local community.
    </p>
</div>

{% endblock %}