{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!--
    <img src="/static/images/Sailing.png" alt="Picture Calliope Sea Scouts sailing">
    <p>Scouting rises within you and inspires you to put forth your best.</p>
    <p>Juliette Gordan Low</p>
--> 
<div class="in_between_content">
    <img class="image" src="/static/images/calliope website front page.png" alt="Picture Calliope Sea Scouts sailing">
    
    <section class="portfolio-experiment call_to_action">
        <a>
          <h1><span class="text">Join us!</span></h1>
          <span class="line -right"></span>
          <span class="line -top"></span>
          <span class="line -left"></span>
          <span class="line -bottom"></span>
        </a>
    </section>
</div>

<div class="grey in_between_content">
    <div class="container">
        <h2>For All young People</h2>
        <p>We welcome young people between the ages of 5 to 26 and are open to all genders, ethnicities and religions. We are the world’s largest non-formal education institution, serving over 13,000 young people all across New Zealand. There are five youth sections in our Movement.</p>
    
        <div class="row mt-5">
            <div class="col">
                <h2>Ages 5 to 8</h2>
                <h2>Keas</h2>
                <img src="/static/images/CircleIconKeas.png" alt="Circle icon of Keas">
                <p>Fun and friendship are the cornerstones of the Kea programme. It is filled with a little bit of everything: outdoor activities, games, music, and crafts.</p>
            </div>
    
            <div class="col">
                <h2>Ages 8 to 11</h2>
                <h2>Cubs</h2>
                <img src="/static/images/CircleIconCubs.png" alt="Circle icon of Cubs">
                <p>Challenge and fun are the focus of the Cub programme. Hikes, weekend camps, and an introduction to water activities  are just a few of the fun outdoor adventures that Cubs enjoy. </p>
            </div>
    
            <div class="col">
                <h2>Ages 11 to 14</h2>
                <h2>Scouts</h2>
                <img src="/static/images/CircleIconScouts.png" alt="Circle icon of Scouts">
                <p>Scouts is about having fun while gaining valuable leadership skills and self-confidence by doing outdoor adventures like mountain biking, rock climbing, and camping.</p>
            </div>
    
            <div class="col">
                <h2>Ages 14 to 18</h2>
                <h2>Venturers</h2>
                <img src="/static/images/CircleIconVenturers.png" alt="Circle icon of Venturers">
                <p>The Venturer programme offers exciting, fun, hands-on experiences for youth.  They take a step up in leading and running their own activities.</p>
            </div>
        </div>
    </div>
</div>

<div class="video mt-5">
    <iframe width="950" height="400" src="https://www.youtube.com/embed/IHb5KuNyDJg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}