{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}



{% block main %}

<div class="container text-start">
    <h1>News</h1>
    
    <p>We have a Facebook page which contains all our recent events and photos.</p>
    
    <p>Curretnly we are looking forward to June 2021 and celebrating our Centennial (as the oldest continuous New Zealand sea scout group) .</p>
    
    <p>We have also recently celebrated no less than 5 Venturers achieving their Queen Scout award which is a major achievement for a small group like Calliope and the first in living memory! </p>
</div>

{% endblock %}