{% extends "layout.html" %}

{% block title %}
    Join
{% endblock %}



{% block main %}
<div class="container">
    <h2>Youth sections</h2>
    <p>In Calliope, not only do all sections meet up on a weekly basis to do activities that are suitable and fun for their age group; we also organise to go to many outdoor activities such as hikes, camps, reggatas, jambories and more.</p>

    <div class="row mt-5">
        <div class="col">
            <h2>Ages 5 to 8</h2>
            <h2>Keas</h2>
            <img src="/static/images/CircleIconKeas.png" alt="Circle icon of Keas">
            <p>Fun and friendship are the cornerstones of the Kea programme. It is filled with a little bit of everything: outdoor activities, games, music, and crafts.</p>
        </div>

        <div class="col">
            <h2>Ages 8 to 11</h2>
            <h2>Cubs</h2>
            <img src="/static/images/CircleIconCubs.png" alt="Circle icon of Cubs">
            <p>Challenge and fun are the focus of the Cub programme. Hikes, weekend camps, and an introduction to water activities  are just a few of the fun outdoor adventures that Cubs enjoy. </p>
        </div>

        <div class="col">
            <h2>Ages 11 to 14</h2>
            <h2>Scouts</h2>
            <img src="/static/images/CircleIconScouts.png" alt="Circle icon of Scouts">
            <p>Scouts is about having fun while gaining valuable leadership skills and self-confidence by doing outdoor adventures like mountain biking, rock climbing, and camping.</p>
        </div>

        <div class="col">
            <h2>Ages 14 to 18</h2>
            <h2>Venturers</h2>
            <img src="/static/images/CircleIconVenturers.png" alt="Circle icon of Venturers">
            <p>The Venturer programme offers exciting, fun, hands-on experiences for youth.  They take a step up in leading and running their own activities.</p>
        </div>
    </div>
</div>


<div class="in_between_content container text-start">
    <div class="mt-5 mb-5">
        <h2>Keas (Ages between 5 to 7)</h2>
        <p>
        Keas meet up weekly to do activities such as badge work, games etc. Outings are also organised to work towards other badges/projects
        such as visits to the swimming pools, the library, fire station, etc Over the summer months the emphasis is placed on kayaks and
        water-based activities, especially safe swimming.
        </p>
    </div>
    <div class="mt-5 mb-5">
        <h2>Cubs (Ages between 8 to 10)</h2>
        <p>
        Cubs meet up weekly to do activities such as badge work rope work, games etc Outings are also organised to work towards other badges/projects
        such as visits to the swimming pools, the library, fire station, etc Over the summer months the emphasis is placed on kayaks and water-based
        activities, especially swimming and raft building.
        </p>
    </div>
    <div class="mt-5 mb-5">
        <h2>Scouts (Ages between 10 to 14)</h2>
        <p>
        The programme provided is as wide and varied as possible. Several outdoor tramping/camping weekends are usually
        arranged each year; there is an annual Sea Scouts Regatta where all troops in the region compete with their sailing
        skills; on summer evenings training and sailing experience is gained with the use of the Group's Cutter, Sunbursts,
        Fevas, catamaran and kayaks. Winter months see the children working on badges (covering a wide range of topics,
        community issues and skills ), ropework, first aid, and games plus the inevitable Boat Maintenance under the
        watchful eye of a local boatbuilder.
        <br><br>
        Every four years a National Jamboree is held - this means that every Scout has at least one opportunity to attend whilst
        in the Scouting movement. Scouts gather from around New Zealand and the Pacific in one giant tent city where activities
        aimed to interest, challenge and excite are provided.
        <br><br>
        The Scout Leader will provide a more comprehensive joining kit and information once your son/daughter has decided to join.
        The Group also ensures that all those involved are kept informed of all activities, with the normal Cub/Scout handouts
        relating to programmes etc.
        </p>
    </div>
    <div class="mt-5 mb-5">
        <h2>Venturers (Ages between 15 to 18)</h2>
        <p>
        Venturers' program is as wide and varied as the Venturers are willing to plan for and organise (within reason).
        Venturers generally meet weekly to do sailing during summer, while in Winter Venturers meet weekly to do activities
        that they plan and organise while being overseen by the Venturer Leader, and helped out by Assistant Leaders and parents.
        </p>
    </div>
</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSceuKFQYyNWy6r8CbnVv7Ik_DgWp9cIxoT9m_Mf0jngyVx0_g/viewform?embedded=true" width="640" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

{% endblock %}