{% extends "layout.html" %}

{% block title %}
    Support us
{% endblock %}



{% block main %}
<h1><a href="/supportUsVolunteer"><button>Volunteer</button></a></h1>
<p>
Scouting is fun.
<br>
We rely on volunteers to work with our youth and offer support to them to do this we always welcome new volunteers at
all levels - leaders, helpers and committee members.
<!--<br>
Insert link here to national site
<br>
https://scouts.nz/volunteer/-->
</p>

<img src="Volunteer.jpg" alt="Volunteer.jpg">
<h1><a href="/hallHire"><button>Hall hire</button></a></h1>
<p>
Our beautiful old hall is in a perfect location for a variety of events and available for hire – for birthday
parties (young and old), wedding receptions or workshops
</p>

<img src="Ship.png" alt="Picture of the 'ship'">
<h1><a href="/supportUsJoin"><button>Join now</button></a></h1>
<p>
</p>

<img src="JoinNow.jpg" alt="JoinNow.jpg">
<h1><a href="/supportUsDonate"><button>Donate</button></a></h1>
{% endblock %}