{% extends "layout.html" %}

{% block title %}
    Volunteer
{% endblock %}



{% block main %}
<div class="container text-start">
    <h1>Volunteer</h1>
    
    <h2>Leaders</h2>
    <p>
    Are you looking for something rewarding to do within your community? Have you thought about volunteering? Our Scout group is looking for more leaders
    so we can keep our Keas, Cubs and Scouts sections growing. Volunteering for Scouts is easier than you think with full support and training — you
    can experience the fun, friendship and adventures of Scouting, and make a real difference in your community. Would you like to know more? Please
    email <a href="mailto:calliope@group.scouts.nz?subject=Volunteering%20as%20a%20leader">calliope@group.scouts.nz</a>
    </p>
    
    <h2>Adult Helpers</h2>
    <p>
    If you are not up for being a Leader the how about an Adult Helper? If you are an adult associated with a child attending one of our sections, we
    would love it if you are able to help us out from time to time. Whether it is a trip away from the Ship, or an activity for which we just need more
    help, your time and efforts are always appreciated.
    <br>
    At Scouts, we take child &amp; youth protection very seriously so all adult helpers must complete the SCOUTS NZ registration and police vetting
    process, this can be easily completed online with the help of your group or section leader
    <br>
    To complete the SCOUTS NZ adult helper registration process:
    <br>
    Visit this page https://scouts volunteer-signup-form and you will also need to complete the police vetting form
    </p>
    
    <h2>Committee</h2>
    <p>
    Our committee is made up of parents and other volunteers, who work together along with our Section Leaders to ensure the smooth operation of the
    Whenuapai Air Scouts. As a group we operate within the boundaries of Scouting New Zealand in terms of structure and the programs we offer, so our
    role as a committee is to ensure we comply with national scouting directives, work with our leaders to facilitate the smooth operation of our Keas,
    Cubs, Scouts and Venturer units, oversee the financial operation of our group and look after our grounds, buildings, facilities and equipment.
    <br>
    We are always looking for new committee members! The more members we have; the easier it is for us to get things done. Please talk to your leader or
    email <a href="mailto:calliope@group.scouts.nz?subject=Volunteering%20as%20a%20committee%20member">calliope@group.scouts.nz</a> if you&#39;d like to discuss joining the committee — we meet each term at the Ship
    </p>
    
    <h2>Vacant: Quartermaster (Equipment) officer</h2>
    <p>
    The Quartermaster position is responsible for all our scouting equipment stored in the Ship. This role works with the scouting section leaders to ensure
    that all gear is accounted for and that simple repairs are carried out, and replacement requirements are brought to the attention of the committee.
    </p>
    
    <h2>Fund raising</h2>
    <p>
    We keep our fees to the youth members as low as we can to enable all to join and take part in our activities – as our beautiful old ship ages she is in
    constant need of repair as well as us needing to upgrade and maintain our boats, life jackets and other equipment so we are in need of a fundraising
    committee to oversee applying for grants and raising awareness and funds to keep us and the youth in their activities afloat.
    </p>
</div>
{% endblock %}