{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}



{% block main %}

<div class="container text-start">
    <h1>What we are about</h1>
    <p>
        At Calliope Sea Scouts we are part of a huge worldwide Scouting organisation.
        Every year in New Zealand alone, around 13, 000 young people enjoy new adventures in the outdoors, learning new skills and gaining confidence through their scouting experience. Giving them the confidence to reach their full potential.
        The scouting programme focuses on 3 main areas - personal development, adventure and community engagement. Using these 3 areas scouting aims to foster development in all aspects of youth development - physical, emotional, spiritual and mental.
    </p>
    <p>
        As Sea Scouts, we focus on all aspects of scouting, such as tramping, camping and community activities but place a particular emphasis on water-based activities, including swimming, lifesaving, sailing, kayaking, rowing and rafting.
        These activities take place locally on a weekly basis, but also regionally and nationally as part of the wider organisation.
        Calliope takes part in various regattas and competitions across the country, from Kai Iwi to Lyttleton, as well as maintaining a close relationship with the Royal Navy and achieving Naval recognition.
    </p>
</div>

{% endblock %}